#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 189px;
  height: 91px;
  margin: -45px 0 0 -94px;
  z-index: 1001; }
  #loader .stroke {
    stroke: #fff;
    stroke-dasharray: 1000;
    stroke-dashoffset: 2000;
    animation: dash 6s linear infinite;
    animation-delay: 2s; }
  #loader .fill {
    opacity: 0;
    animation: fill 6s linear infinite;
    animation-delay: 2s; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes fill {
  to {
    opacity: 1; } }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */ }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none; }

html, body {
  margin: 0; }
  @media (min-width: 960px) {
    html, body {
      background: url(../img/background.jpg) no-repeat center center fixed !important; } }

html {
  height: 100vh;
  /* set viewport constraint */ }

body {
  min-height: 100%;
  background: url(../img/background.jpg) no-repeat center center;
  font-family: 'Teko', sans-serif;
  font: 100%;
  color: rgba(0, 0, 0, 0.9); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700; }

h1 {
  text-indent: -90000px;
  font-size: 0; }

a {
  color: #000;
  text-decoration: none; }

.trigger,
#two,
#three,
#four {
  height: 100vh;
  margin-bottom: 30px; }

.canvas {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /*max-width: 600px;*/
  height: 100%;
  padding: 20px;
  margin: 0 auto;
  background: url(../img/background.jpg) no-repeat center center;
  background-size: cover;
  text-align: center; }

.ballons {
  box-sizing: border-box;
  height: 15%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5%;
  font-size: 0; }
  @media all and (orientation: portrait) and (max-width: 959px) {
    .ballons {
      height: 15%; } }
  @media (min-width: 960px) {
    .ballons {
      height: 20%; } }
  .ballons__item {
    position: relative;
    display: inline-block;
    width: 20%;
    max-width: 160px;
    height: 100%; }
    @media all and (max-width: 959px) and (max-height: 960px) {
      .ballons__item {
        max-height: 90px; } }
    @media all and (min-width: 960px) and (max-height: 700px) {
      .ballons__item {
        max-height: 90px; } }

.ballon {
  position: relative;
  display: inline-block; }
  @media all and (max-width: 959px) and (max-height: 960px) {
    .ballon {
      height: 100%; } }
  @media all and (min-width: 960px) and (max-height: 700px) {
    .ballon {
      height: 100%; } }
  @media all and (orientation: portrait) and (max-width: 959px) {
    .ballon img {
      width: 100%; } }
  @media all and (max-width: 959px) and (max-height: 960px) {
    .ballon img {
      height: 100%;
      width: auto !important; } }
  @media all and (orientation: landscape) and (max-width: 959px) {
    .ballon img {
      /* Styles for Landscape screen */
      height: 100%; } }
  @media all and (min-width: 960px) and (min-height: 701px) {
    .ballon img {
      width: 100%;
      max-width: 121px; } }
  @media all and (min-width: 960px) and (max-height: 700px) {
    .ballon img {
      height: 100%; } }

.facebook {
  -webkit-animation: balloon1 5s ease-in-out infinite;
  animation: balloon1 5s ease-in-out infinite; }

.instagram {
  top: 30px;
  -webkit-animation: balloon2 5s ease-in-out infinite;
  animation: balloon2 5s ease-in-out infinite; }

.youtube {
  -webkit-animation: balloon3 5s ease-in-out infinite;
  animation: balloon3 5s ease-in-out infinite; }

.soundcloud {
  top: 33px;
  -webkit-animation: balloon4 5s ease-in-out infinite;
  animation: balloon4 5s ease-in-out infinite; }

.box-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 50%;
  margin: 0 auto; }
  @media (min-width: 960px) {
    .box-container {
      height: 55%; } }

.box {
  /*max-height: 50%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%); }
  @media all and (max-width: 959px) and (max-height: 960px) {
    .box {
      max-width: 300px; } }
  @media all and (min-width: 960px) and (max-height: 700px) {
    .box {
      max-width: 300px; } }

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 280px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .video-container img {
    width: 100%; }
  @media (min-width: 960px) {
    .video-container {
      max-width: 560px;
      height: 315px; } }

.video {
  opacity: 0; }
  @media (min-width: 960px) {
    .video {
      max-width: 560px;
      height: 315px; } }
  .video-poster {
    position: relative;
    cursor: pointer; }
    .video-poster:hover .video-overlay-play-button {
      opacity: 1; }
  .video-overlay-play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    opacity: 0.6; }

.video .player {
  width: 100%    !important;
  height: auto   !important; }
  @media (min-width: 960px) {
    .video .player {
      height: 100% !important; } }

.videoplayer {
  position: relative;
  margin: 0 auto; }
  @media (max-width: 700px) {
    .videoplayer {
      width: 100%; } }

.videoheight {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 700px) {
    .videoheight {
      width: 100%;
      height: auto; }
      .videoheight iframe {
        width: 100%;
        height: 100%; } }

.video-modal .modal__close {
  right: .25em;
  top: .25em; }
  @media (min-width: 960px) {
    .video-modal .modal__close {
      right: 1.25em;
      top: 1.25em; } }

.footer {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 35%; }
  @media (min-width: 960px) {
    .footer {
      box-sizing: border-box;
      bottom: 0;
      height: 15%;
      padding: 20px;
      font-size: 0; } }

.buttons {
  box-sizing: border-box;
  width: 100%;
  height: 33.33333%;
  padding: 1.5% 20px;
  margin: 0 auto;
  font-size: 0;
  text-align: center; }
  @media (min-width: 960px) {
    .buttons {
      position: absolute;
      top: 0;
      left: 0;
      width: 48%;
      height: 100%;
      padding: 1.5% 0;
      margin: 0 0 0 26%; } }
  .buttons__wrap {
    width: 100%;
    max-width: 640px;
    margin: 0 auto; }
    @media all and (max-width: 959px) and (max-height: 960px) {
      .buttons__wrap {
        height: 100%; } }
    @media (min-width: 960px) {
      .buttons__wrap {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%); } }

.button {
  display: inline-block;
  width: 20%;
  /*max-width: 82px;*/
  box-sizing: border-box;
  padding: 0 2.5%;
  vertical-align: baseline;
  opacity: 0; }
  @media all and (max-width: 959px) and (max-height: 960px) {
    .button {
      height: 100%; } }
  @media (min-width: 960px) {
    .button {
      width: 20%;
      padding: 0 17px; } }
  @media all and (orientation: portrait) and (max-width: 959px) {
    .button img {
      width: 100%; } }
  @media all and (orientation: landscape) and (max-width: 959px) {
    .button img {
      /* Styles for Landscape screen */
      height: 100%; } }
  @media (min-width: 960px) {
    .button img {
      width: 100%;
      max-width: 83px; } }

.itunes {
  max-width: 84px;
  max-height: 99px; }

.google {
  max-width: 96px;
  max-height: 104px; }

.spotify {
  max-width: 82px;
  max-height: 102px; }

.deezer {
  max-width: 102px;
  max-height: 99px; }

.amazon {
  max-width: 100px;
  max-height: 99px; }

.navigation {
  box-sizing: border-box;
  width: auto;
  height: 33.33333%;
  padding: 1.5% 0;
  margin: 0 auto;
  font-size: 0; }
  @media (max-width: 959px) {
    .navigation {
      display: flex;
      align-items: center; } }
  @media (min-width: 960px) {
    .navigation {
      position: absolute;
      top: 0;
      right: 20px;
      width: 26%;
      height: 100%;
      margin: 0; } }

.navigation-wrap {
  width: 100%; }
  @media (min-width: 960px) {
    .navigation-wrap {
      position: absolute;
      bottom: 20px;
      text-align: right; } }

.navigation-item {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  padding: 0 10px;
  width: auto;
  cursor: pointer;
  vertical-align: top; }
  @media (min-width: 960px) {
    .navigation-item {
      padding: 0 20px; } }

.impressum {
  position: relative;
  top: 4px;
  text-align: right; }
  .impressum:hover #impressum-icon {
    fill: #fff; }

.kontakt {
  padding-right: 0;
  text-align: left; }
  .kontakt:hover #kontakt-icon {
    fill: #fff; }
  @media (min-width: 960px) {
    .kontakt {
      padding-right: 0; } }

.logo {
  box-sizing: border-box;
  width: 100%;
  height: 33.33333%;
  margin-bottom: 20px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-align: center; }
  @media (min-width: 960px) {
    .logo {
      position: absolute;
      top: 0;
      left: 20px;
      width: 26%;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 20px;
      text-align: left; } }
  .logo svg {
    width: 100%;
    min-width: 95px;
    max-width: 189px;
    height: 100%;
    min-height: 46px;
    max-height: 91px; }
    @media (min-width: 960px) {
      .logo svg {
        position: absolute;
        bottom: 20px; } }

/*
 * Pulse animation
*/
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*
 * Animation for webkit
*/
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0); }
  50% {
    -webkit-transform: translateY(15px); }
  /*60% {-webkit-transform: translateY(-15px);}*/ }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  /*60% {transform: translateY(-15px);}*/ }

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(-6deg); }
  50% {
    -webkit-transform: translateY(-20px) rotate(8deg); } }

@keyframes balloon1 {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(-6deg);
    transform: translateY(0) rotate(-6deg); }
  50% {
    -webkit-transform: translateY(-20px) rotate(8deg);
    transform: translateY(-20px) rotate(8deg); } }

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(6eg); }
  50% {
    -webkit-transform: translateY(-30px) rotate(-8deg); } }

@keyframes balloon2 {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(6deg);
    transform: translateY(0) rotate(6deg); }
  50% {
    -webkit-transform: translateY(-30px) rotate(-8deg);
    transform: translateY(-30px) rotate(-8deg); } }

/* BAllOON 0*/
@-webkit-keyframes balloon3 {
  0%, 100% {
    -webkit-transform: translate(0, -10px) rotate(6eg); }
  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg); } }

@keyframes balloon3 {
  0%, 100% {
    -webkit-transform: translate(0, -10px) rotate(6eg);
    transform: translate(0, -10px) rotate(6eg); }
  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg);
    transform: translate(-20px, 30px) rotate(-8deg); } }

/* BAllOON 3*/
@-webkit-keyframes balloon4 {
  0%, 100% {
    -webkit-transform: translate(10px, -10px) rotate(-8eg); }
  50% {
    -webkit-transform: translate(-15px, 20px) rotate(10deg); } }

@keyframes balloon4 {
  0%, 100% {
    -webkit-transform: translate(10px, -10px) rotate(-8eg);
    transform: translate(10px, -10px) rotate(-8eg); }
  50% {
    -webkit-transform: translate(-15px, 10px) rotate(10deg);
    transform: translate(-15px, 10px) rotate(10deg); } }

.modal {
  display: none;
  position: fixed;
  /*
    Modal Overlay
  */
  /*
    General Modal Content
  */
  /*
    Close Modal Button
  */ }
  .modal__bg {
    box-sizing: border-box;
    background: #000;
    height: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    padding: 1.5em;
    position: fixed;
    top: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    width: 100%;
    z-index: -1; }
    .modal__bg[aria-hidden="true"] {
      opacity: 0;
      visibility: hidden; }
    .modal__bg[aria-hidden="false"] {
      opacity: 1;
      visibility: visible;
      z-index: 2; }
      .modal__bg[aria-hidden="false"] .modal__content {
        -webkit-transform: scale(1);
        transform: scale(1); }
  .modal__dialog {
    height: 100%;
    width: 100%; }
  .modal__content {
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    background: #efefef;
    margin: auto;
    max-width: 600px;
    overflow: auto;
    overflow-x: hidden;
    padding: 1.5em;
    position: relative;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    width: 100%;
    height: auto;
    max-height: 100%;
    z-index: 3; }
    @media (min-width: 960px) {
      .modal__content {
        padding: 2.5em; } }
  .modal__heading {
    margin: 50px 0 0;
    color: #2B4056;
    text-transform: uppercase;
    font-size: 2em; }
    .modal__heading--small {
      color: #4b7096;
      margin: 20px 0 0;
      font-size: 1.4em; }
  .modal__status {
    display: none;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    font-family: Teko, sans-serif; }
    @media (min-width: 960px) {
      .modal__status {
        margin-top: 23px; } }
  .modal p {
    max-width: 400px;
    margin: 0;
    font-size: 1em;
    line-height: 1.5; }
  .modal__close {
    width: 50px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: arial;
    font-size: 2em;
    font-weight: 800;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: .25em;
    top: .25em;
    z-index: 2; }
    .modal__close:hover {
      color: #c12f48; }
    .modal__close:focus {
      outline: 1px dotted; }
    .modal__close svg {
      width: 100%;
      height: auto; }
  .modal__form {
    margin-bottom: 20px; }
    @media (min-width: 960px) {
      .modal__form:before, .modal__form:after {
        content: "";
        display: table;
        clear: both; } }
    .modal__form__label {
      position: absolute;
      display: inline-block;
      text-indent: -90000px; }
    .modal__form__input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 10px 10px;
      border: 1px solid #000;
      margin-top: 10px;
      background: #fff;
      font-family: 'Teko', sans-serif;
      font-size: 1em; }
      @media (min-width: 960px) {
        .modal__form__input {
          margin-top: 23px; } }
    .modal__form__textarea {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100px;
      padding: 15px 10px;
      border: 1px solid #000;
      margin-top: 10px;
      background: #fff;
      font-family: 'Teko', sans-serif;
      font-size: 1em;
      resize: none; }
      @media (min-width: 960px) {
        .modal__form__textarea {
          height: 200px;
          margin-top: 23px; } }
    .modal__form__submit {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 15px 10px;
      margin-top: 10px;
      background: #fff;
      border: 1px solid #000;
      color: inherit;
      /* cursor: default; */
      font: inherit;
      line-height: normal;
      overflow: visible;
      -webkit-appearance: button;
      /* for input */
      -webkit-user-select: none;
      /* for button */
      -moz-user-select: none;
      -ms-user-select: none;
      cursor: pointer; }
      @media (min-width: 960px) {
        .modal__form__submit {
          width: 200px;
          margin-top: 23px;
          float: right; } }
      .modal__form__submit:hover {
        background: #efefef; }
      .modal__form__submit::-webkit-input-placeholder, .modal__form__submit:-moz-placeholder, .modal__form__submit::-moz-placeholder, .modal__form__submit:-ms-input-placeholder, .modal__form__submit::-webkit-input-placeholder, .modal__form__submit::placeholder {
        font-family: 'Teko', sans-serif; }
      .modal__form__submit::-moz-focus-inner {
        border: 0;
        padding: 0; }

.pagination {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 25%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: .5;
  -webkit-transition: .7s opacity;
  transition: .7s opacity; }
  @media (min-width: 375px) {
    .pagination {
      right: 1em; } }
  @media (min-width: 960px) {
    .pagination {
      height: 50%; } }
  .pagination__bg {
    width: 3px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: black; }
  .pagination__item {
    position: absolute;
    left: -4px;
    width: 11px;
    height: 11px;
    z-index: 9999; }
    .pagination__item:nth-of-type(1) a {
      background: white; }
    .pagination__item:nth-of-type(2) {
      top: 33%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .pagination__item:nth-of-type(3) {
      top: 66%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .pagination__item:nth-of-type(4) {
      bottom: 0; }
  .pagination__link {
    position: absolute;
    display: block;
    width: 11px;
    height: 11px;
    background: #000;
    border-radius: 50%;
    color: transparent;
    text-indent: -90000px;
    z-index: 9999; }
    .pagination__link.highlight {
      background-color: #fff; }
    .pagination__link:before {
      position: absolute;
      top: 50%;
      right: 100%;
      display: none;
      padding: 6px 10px;
      background: #000;
      color: #fff;
      font-family: 'Amatic SC',cursive;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      text-indent: 0;
      transform: translateY(-50%); }
    .pagination__link:hover:before {
      display: block; }
    .pagination__link--home:before {
      content: 'zuhause'; }
    .pagination__link--social:before {
      content: 'soziales'; }
    .pagination__link--video:before {
      content: 'video'; }
    .pagination__link--download:before {
      content: 'musik'; }
  .pagination__position {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 3px;
    height: 0%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: white; }

.no-js body,
.no-js .main,
.no-js .canvas {
  height: 100%;
  overflow: hidden; }

.no-js .pagination {
  display: none; }

.no-js .video-container {
  display: none; }

.no-js .button {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
