.box-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 50%;
  margin: 0 auto;
  @media (min-width: 960px) {
    height: 55%;
  }
}
.box {
  /*max-height: 50%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

  @media all and (max-width: 959px) and (max-height: 960px) {
    max-width: 300px;
  }
  @media all and (min-width: 960px) and (max-height: 700px) {
    max-width: 300px;
  }
}
