html, body {
  margin: 0;
  @media (min-width: 960px) {
    background: url(../img/background.jpg) no-repeat center center fixed !important;
  }
}
html {
  height: 100vh; /* set viewport constraint */
  // min-height: 100%; /* enforce height */
}
body {
  min-height: 100%;
  background: url(../img/background.jpg) no-repeat center center;
  font-family: 'Teko', sans-serif;
  font: 100%;
  color: rgba(0, 0, 0, 0.9);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

h1 {
  text-indent: -90000px;
  font-size: 0;
}

a {
  color: #000;
  text-decoration: none;
}
