.navigation {
  box-sizing: border-box;
  // position: absolute;
  // top: 33.33333%;
  // right: 0;
  width: auto;
  height: 33.33333%;
  padding: 1.5% 0;
  margin: 0 auto;
  font-size: 0;
  @media (max-width: 959px) {
    display: flex;
    align-items: center;
  }
  @media all and (orientation:portrait) and (max-width: 959px) {
    // bottom: 89px;
  }
  @media (min-width: 960px) {
    position: absolute;
    top: 0;
    // bottom: 0;
    right: 20px;
    // width: auto;
    // display: inline-block;
    width: 26%;
    height: 100%;
    margin: 0;
    // vertical-align: bottom;
  }
}
.navigation-wrap {

  // position: absolute;
  // top: 50%;
  // left: 0;
  width: 100%;
  // -webkit-transform: translateY(-50%);
  //         transform: translateY(-50%);
  @media (min-width: 960px) {
    position: absolute;
    bottom: 20px;
    // position: static;
    // width: auto;
    // -webkit-transform: translateY(0);
    //         transform: translateY(0);
    text-align: right;
  }
}
.navigation-item {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  padding: 0 10px;
  width: auto;
  cursor: pointer;
  vertical-align: top;
  @media (min-width: 960px) {
    padding: 0 20px;
  }
}
.impressum {
  position: relative;
  top: 4px;
  text-align: right;
  &:hover #impressum-icon {
    fill: #fff;
  }
}
.kontakt {
  padding-right: 0;
  text-align: left;
  &:hover #kontakt-icon {
    fill: #fff;
  }
  @media (min-width: 960px) {
    padding-right: 0;
  }
}
>>>>>>> 1960a8d:src/scss/_navigation.scss
