.pagination {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .5;
  -webkit-transition: .7s opacity;
  transition: .7s opacity;
  @media (min-width: 375px) {
    right: 1em;
  }
  @media (min-width: 960px) {
    height: 50%;
  }
  &__bg {
    width: 3px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgb(0,0,0);
  }
  &__item {
    position: absolute;
    left: -4px;
    width: 11px;
    height: 11px;
    z-index: 9999;
    &:nth-of-type(1) {
      a {
        background: rgb(255,255,255);
      }
    }
    &:nth-of-type(2) {
      top: 33%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    &:nth-of-type(3) {
      top: 66%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%)
    }
    &:nth-of-type(4) {
      bottom: 0;
    }
  }
  &__link {
    position: absolute;
    display: block;
    width: 11px;
    height: 11px;
    background: #000;
    border-radius: 50%;
    color: transparent;
    text-indent: -90000px;
    z-index: 9999;
    &.highlight {
      background-color: #fff;
    }
    &:before {
      position: absolute;
      top: 50%;
      right: 100%;
      display: none;
      padding: 6px 10px;
      background: #000;
      color: #fff;
      font-family: 'Amatic SC',cursive;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      text-indent: 0;
      transform: translateY(-50%);
    }
    &:hover {
      &:before {
        display: block;
      }
    }
    &--home {

      &:before {
        content: 'zuhause';
      }
      &:before {

      }
    }
    &--social {

      &:before {
        content: 'soziales';
      }
    }
    &--video {

      &:before {
        content: 'video';
      }
    }
    &--download {
      &:before {
        content: 'musik';
      }
    }
  }
  &__position {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 3px;
    height: 0%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgb(255,255,255);
  }
}
